.post-card{
    min-width:250px;
  }
  .profile-pic{
    height: 3rem;
  }

  .card-deck-container{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -moz-box-orient:horizontal;
    -webkit-box-direction: normal;
    -ms-box-direction: normal;
    -moz-box-direction: normal;
    
    flex: 1 1 1 1;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;    
    width: 100%;
    position: relative;
    border-radius: 2px;
    margin: 10px 0px 0px 0px;
    
}

.card-item{
    flex: 1;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    padding: 3px 3px 3px 3px;
    width:300px;
}
