<div 
 fxLayoutAlign="space-around center" 
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
 style="margin-top: 2vh">
  <mat-card class="post-card" fxFlex="70%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        
      </div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.createdby}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="{{post.banner}}">
      <div [innerHTML]="post.postdata">

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="likePost(post)" mat-button>{{post.likes?post.likes:0}}
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
      <button mat-button (click)="dislikePost(post)">{{post.dislikes?post.dislikes:0}}
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      
      <button mat-button >{{post.views?post.views:0}}
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-button (click)="openShareBottomSheet()">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <post-tags fxFlex="30%" [post]="post"></post-tags>
</div>
<div 
 fxLayoutAlign="space-around center" 
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
 style="margin-top: 2vh">
  <post-comment fxFlex='70%'></post-comment>
  <div fxFlex="30%"></div>
</div>
